# Desarrollo
DATABASE_URL=sqlite:///./cursos.db
SECRET_KEY=changeme
ENVIRONMENT=development
CORS_ORIGINS=["http://localhost:5173"]
ALLOWED_HOSTS=["localhost","127.0.0.1"]

# Produccion (Render + Supabase)
# DATABASE_URL=postgresql://user:password@host.supabase.co:5432/postgres
# SECRET_KEY=genera_un_token_seguro_aqui
# ENVIRONMENT=production
# CORS_ORIGINS=["https://tudominio.onrender.com"]
# ALLOWED_HOSTS=[".onrender.com"]
